In [1]:
import json 
import nltk
import csv
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df1 = pd.read_csv('data.csv')

In [3]:
df2 = pd.read_csv('mpst_full_data.csv')

In [4]:
df3 = pd.read_csv('wiki_movie_plots_deduped.csv')

In [5]:
df1.head()

,titles,summary,genre,year
0,The Shawshank Redemption,Two imprisoned men bond over a number of years...,Drama,1994
1,The Godfather,The aging patriarch of an organized crime dyna...,"Crime, Drama",1972
2,Wheels,Two suicidal paraplegic junkies hustle their w...,Drama,2014
3,The Dark Knight,When the menace known as the Joker wreaks havo...,"Action, Crime, Drama",2008
4,The Godfather: Part II,The early life and career of Vito Corleone in ...,"Crime, Drama",1974

In [6]:
df2.head()

,imdb_id,title,plot_synopsis,tags,split,synopsis_source
0,tt0057603,I tre volti della paura,Note: this synopsis is for the orginal Italian...,"cult, horror, gothic, murder, atmospheric",train,imdb
1,tt1733125,Dungeons & Dragons: The Book of Vile Darkness,"Two thousand years ago, Nhagruul the Foul, a s...",violence,train,imdb
2,tt0033045,The Shop Around the Corner,"Matuschek's, a gift store in Budapest, is the ...",romantic,test,imdb
3,tt0113862,Mr. Holland's Opus,"Glenn Holland, not a morning person by anyone'...","inspiring, romantic, stupid, feel-good",train,imdb
4,tt0086250,Scarface,"In May 1980, a Cuban man named Tony Montana (A...","cruelty, murder, dramatic, cult, violence, atm...",val,imdb

In [7]:
df3.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [11]:
df4 = df3.copy(deep=True)

In [12]:
df5 = df3.copy(deep=False)

In [18]:
i =0
for index,row in df4.iterrows():
    print("1: ",row[7])
    if i> 5:
        break
    i=i+1

1:  A bartender is working at a saloon, serving drinks to customers. After he fills a stereotypically Irish man's bucket with beer, Carrie Nation and her followers burst inside. They assault the Irish man, pulling his hat over his eyes and then dumping the beer over his head. The group then begin wrecking the bar, smashing the fixtures, mirrors, and breaking the cash register. The bartender then sprays seltzer water in Nation's face before a group of policemen appear and order everybody to leave.[1]
1:  The moon, painted with a smiling face hangs over a park at night. A young couple walking past a fence learn on a railing and look up. The moon smiles. They embrace, and the moon's smile gets bigger. They then sit down on a bench by a tree. The moon's view is blocked, causing him to frown. In the last scene, the man fans the woman with his hat because the moon has left the sky and is perched over her shoulder to see everything better.
1:  The film, just over a minute long, is composed of two shots. In the first, a girl sits at the base of an altar or tomb, her face hidden from the camera. At the center of the altar, a viewing portal displays the portraits of three U.S. Presidents—Abraham Lincoln, James A. Garfield, and William McKinley—each victims of assassination.
In the second shot, which runs just over eight seconds long, an assassin kneels feet of Lady Justice.
1:  Lasting just 61 seconds and consisting of two shots, the first shot is set in a wood during winter. The actor representing then vice-president Theodore Roosevelt enthusiastically hurries down a hillside towards a tree in the foreground. He falls once, but rights himself and cocks his rifle. Two other men, bearing signs reading "His Photographer" and "His Press Agent" respectively, follow him into the shot; the photographer sets up his camera. "Teddy" aims his rifle upward at the tree and fells what appears to be a common house cat, which he then proceeds to stab. "Teddy" holds his prize aloft, and the press agent takes notes. The second shot is taken in a slightly different part of the wood, on a path. "Teddy" rides the path on his horse towards the camera and out to the left of the shot, followed closely by the press agent and photographer, still dutifully holding their signs.
1:  The earliest known adaptation of the classic fairytale, this films shows Jack trading his cow for the beans, his mother forcing him to drop them in the front yard, and beig forced upstairs. As he sleeps, Jack is visited by a fairy who shows him glimpses of what will await him when he ascends the bean stalk. In this version, Jack is the son of a deposed king. When Jack wakes up, he finds the beanstalk has grown and he climbs to the top where he enters the giant's home. The giant finds Jack, who narrowly escapes. The giant chases Jack down the bean stalk, but Jack is able to cut it down before the giant can get to safety. He falls and is killed as Jack celebrates. The fairy then reveals that Jack may return home as a prince.
1:  Alice follows a large white rabbit down a "Rabbit-hole". She finds a tiny door. When she finds a bottle labeled "Drink me", she does, and shrinks, but not enough to pass through the door. She then eats something labeled "Eat me" and grows larger. She finds a fan when enables her to shrink enough to get into the "Garden" and try to get a "Dog" to play with her. She enters the "White Rabbit's tiny House," but suddenly resumes her normal size. In order to get out, she has to use the "magic fan."
She enters a kitchen, in which there is a cook and a woman holding a baby. She persuades the woman to give her the child and takes the infant outside after the cook starts throwing things around. The baby then turns into a pig and squirms out of her grip. "The Duchess's Cheshire Cat" appears and disappears a couple of times to Alice and directs her to the Mad Hatter's "Mad Tea-Party." After a while, she leaves.
The Queen invites Alice to join the "ROYAL PROCESSION": a parade of marching playing cards and others headed by the White Rabbit. When Alice "unintentionally offends the Queen", the latter summons the "Executioner". Alice "boxes the ears", then flees when all the playing cards come for her. Then she wakes up and realizes it was all a dream.
1:  The film opens with two bandits breaking into a railroad telegraph office, where they force the operator at gunpoint to have a train stopped and to transmit orders for the engineer to fill the locomotive's tender at the station's water tank. They then knock the operator out and tie him up. As the train stops it is boarded by the bandits‍—‌now four. Two bandits enter an express car, kill a messenger and open a box of valuables with dynamite; the others kill the fireman and force the engineer to halt the train and disconnect the locomotive. The bandits then force the passengers off the train and rifle them for their belongings. One passenger tries to escape but is instantly shot down. Carrying their loot, the bandits escape in the locomotive, later stopping in a valley where their horses had been left.
Meanwhile, back in the telegraph office, the bound operator awakens, but he collapses again. His daughter arrives bringing him his meal and cuts him free, and restores him to consciousness by dousing him with water.
There is some comic relief at a dance hall, where an Eastern stranger is forced to dance while the locals fire at his feet. The door suddenly opens and the telegraph operator rushes in to tell them of the robbery. The men quickly form a posse, which overtakes the bandits, and in a final shootout kills them all and recovers the stolen mail.

In [19]:
print(df4.loc[0])

Release Year                                                     1901
Title                                          Kansas Saloon Smashers
Origin/Ethnicity                                             American
Director                                                      Unknown
Cast                                                              NaN
Genre                                                         unknown
Wiki Page           https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...
Plot                A bartender is working at a saloon, serving dr...
Name: 0, dtype: object

In [20]:
print (df1.columns)
print(df4.columns)

Index(['titles', 'summary', 'genre', 'year'], dtype='object')
Index(['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast',
       'Genre', 'Wiki Page', 'Plot'],
      dtype='object')

In [21]:
ele = df4[df4['Title'].str.match("Mr. Holland's Opus" , case=False)]
print(ele)

       Release Year               Title Origin/Ethnicity       Director  \
12508          1995  Mr. Holland's Opus         American  Stephen Herek

                                                    Cast  Genre  \
12508  Richard Dreyfuss, Glenne Headly, Jay Thomas, O...  drama

                                               Wiki Page  \
12508  https://en.wikipedia.org/wiki/Mr._Holland%27s_...

                                                    Plot
12508  In Portland, Oregon in 1965, Glenn Holland is ...

In [22]:
print(len(ele['Plot'].values[0]))
print(len((df1.loc[df1['titles'] == "Mr. Holland's Opus"])['summary'].values[0]))

3377
71

In [23]:
t = df1.loc[0,'titles']
print(t)

The Shawshank Redemption

In [24]:
print(len(df4.index))
print (df1.columns)
print(df4.columns)

34886
Index(['titles', 'summary', 'genre', 'year'], dtype='object')
Index(['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast',
       'Genre', 'Wiki Page', 'Plot'],
      dtype='object')

In [25]:
print(df4['Origin/Ethnicity'][0])

American

In [26]:
# origin = df['Origin/Ethnicity']
origins = nltk.FreqDist(df4['Origin/Ethnicity'])
origins_freq = origins.most_common()
print(origins_freq)

[('American', 17377), ('British', 3670), ('Bollywood', 2931), ('Tamil', 2599), ('Telugu', 1311), ('Japanese', 1188), ('Malayalam', 1095), ('Hong Kong', 791), ('Canadian', 723), ('Australian', 576), ('South_Korean', 522), ('Chinese', 463), ('Kannada', 444), ('Bengali', 306), ('Russian', 232), ('Marathi', 141), ('Filipino', 128), ('Bangladeshi', 87), ('Punjabi', 84), ('Malaysian', 70), ('Turkish', 70), ('Egyptian', 67), ('Assamese', 9), ('Maldivian', 2)]

In [42]:
# filtering the dataset using the by origin ( American and british)
df4 = df4.loc[df4['Origin/Ethnicity'].isin(['American','British']) ]

In [43]:
df4.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [44]:
df4 = df4.sort_values(by = 'Title')

In [30]:
print(df4.iloc[0]['Title'])

 (500) Days of Summer

In [45]:
# seraching for titles with same name and same release year to remove the movies with lower length of plot summary
index_drop = []
prev = 0
for i in range(1,len(df4)):
    if (df4.iloc[prev]['Title'] == df4.iloc[i]['Title'] ) and  (df4.iloc[prev]['Release Year'] == df4.iloc[i]['Release Year']):
        if len(df4.iloc[prev]['Plot']) >  len(df4.iloc[i]['Plot']) :
            index_drop.append(i)
        else:
            index_drop.append(prev)
            prev = i
    else:
        prev = i

In [46]:
print(len(index_drop))
print(index_drop)

108
[264, 307, 362, 553, 615, 725, 860, 1102, 1141, 1541, 1675, 1873, 1978, 2083, 2163, 2268, 2644, 2682, 3171, 3390, 3945, 3965, 4202, 5207, 5246, 5264, 5488, 5568, 5675, 6047, 6079, 6166, 6410, 6466, 6529, 6600, 6657, 6722, 7602, 7753, 7830, 7869, 7883, 8321, 8426, 8464, 8491, 8536, 8904, 9386, 9429, 9471, 9658, 9917, 10072, 10089, 10275, 10332, 10503, 10626, 10709, 10757, 10970, 11013, 11182, 11381, 11559, 11725, 12300, 12734, 13089, 13258, 13899, 13926, 14111, 14331, 15594, 15651, 16080, 16245, 16257, 16536, 16648, 16871, 17194, 17573, 17777, 17940, 18023, 18144, 18605, 18722, 18830, 18871, 19115, 19301, 19658, 19690, 19787, 19977, 19984, 20116, 20221, 20364, 20701, 20794, 20868, 20870]

In [48]:
print(len(df4))

21047

In [49]:
df4.drop(df4.index[index_drop], inplace=True)

In [50]:
len(df4)

20939

In [51]:
# origin = df['Origin/Ethnicity']
titles = nltk.FreqDist(df4['Title'])
titles_freq = titles.most_common(100)
print(titles_freq)

[('Anna Karenina', 6), ('Cinderella', 6), ('The Three Musketeers', 6), ('Treasure Island', 6), ('Alice in Wonderland', 5), ("Brewster's Millions", 5), ('Dr. Jekyll and Mr. Hyde', 5), ('Kidnapped', 5), ('Madame X', 5), ('A Christmas Carol', 4), ('Bad Company', 4), ('Blind Date', 4), ('Carrie', 4), ('Cleopatra', 4), ('Dressed to Kill', 4), ('Forbidden', 4), ('Jigsaw', 4), ('No Escape', 4), ('Oliver Twist', 4), ('Robin Hood', 4), ('Running Scared', 4), ('The Jazz Singer', 4), ('The Mummy', 4), ('The Outsider', 4), ('The Prisoner of Zenda', 4), ('The Raven', 4), ('A Shot in the Dark', 3), ('Angel', 3), ('Annie', 3), ('Arizona', 3), ('Back Street', 3), ('Batman', 3), ('Beauty and the Beast', 3), ('Black Beauty', 3), ('Blackmail', 3), ('Branded', 3), ('Camille', 3), ('Captain America', 3), ('Catacombs', 3), ('Contraband', 3), ('Crossed Swords', 3), ('Crossroads', 3), ('Deadfall', 3), ('Dracula', 3), ('Escape', 3), ('Far from the Madding Crowd', 3), ('Fast Company', 3), ('Fast and Loose', 3), ('Fever Pitch', 3), ('Framed', 3), ('Great Expectations', 3), ('Hamlet', 3), ('Heat', 3), ('Hercules', 3), ('Hide and Seek', 3), ('Hindle Wakes', 3), ('Honeymoon', 3), ('Inferno', 3), ('Inside Out', 3), ('Iron Man', 3), ('It', 3), ('Jane Eyre', 3), ('Just My Luck', 3), ('King Kong', 3), ("King Solomon's Mines", 3), ('Kismet', 3), ('Little Women', 3), ('Love Affair', 3), ('Miracle on 34th Street', 3), ('Neighbors', 3), ('Night Watch', 3), ('Nightmare', 3), ('Of Human Bondage', 3), ('Peter Pan', 3), ('Prometheus', 3), ('Quartet', 3), ('Rage', 3), ('Rampage', 3), ('Reckless', 3), ('Revenge', 3), ('Sahara', 3), ('Scrooge', 3), ('Seven Sinners', 3), ('Shakedown', 3), ('She', 3), ('Sherlock Holmes', 3), ('Show Boat', 3), ('Surrender', 3), ("That's My Boy", 3), ('The Age of Innocence', 3), ('The Battle of the Sexes', 3), ('The Call of the Wild', 3), ('The Cat and the Canary', 3), ('The Chase', 3), ('The Crimson Circle', 3), ('The Hunchback of Notre Dame', 3), ('The Hunted', 3), ('The Last of the Mohicans', 3), ('The Other Woman', 3), ('The Patriot', 3)]

In [52]:
print(len(df4.index))
print (df1.columns)
print(df4.columns)

20939
Index(['titles', 'summary', 'genre', 'year'], dtype='object')
Index(['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast',
       'Genre', 'Wiki Page', 'Plot'],
      dtype='object')

In [53]:
# checking for dataset in dataset 1 exists in dataset 3
data1_col = list(df1.columns)
titles = []
titles_higher_info = []
for row in range (0,len(df1.index)):
    title = df1.loc[row,data1_col[0]]
    ele = df4.loc[df4['Title'].str.lower() == title.lower()]
    if ele.empty :
        df4.loc[len(df4.index)] = [df1.loc[row,data1_col[3]],title,'','','','','',df1.loc[row,data1_col[1]]]
        titles.append(title)
    elif len(ele['Plot'].values[0]) < len(df1.loc[row,data1_col[1]]):
        titles_higher_info.append(title)

In [54]:
print(len(titles))
print(len(titles_higher_info))

824
13

In [57]:
df_final = pd.read_csv('movies_plot_combined.csv')

In [60]:
print(len(df_final))
df_final.head()

35667

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [65]:
df_final = df_final.sort_values(by = 'Title')

In [66]:
# seraching for titles with same name and same release year to remove the movies with lower length of plot summary
index_drop = []
prev = 0
for i in range(1,len(df_final)):
    if (df_final.iloc[prev]['Title'] == df_final.iloc[i]['Title'] ) and  (df_final.iloc[prev]['Release Year'] == df_final.iloc[i]['Release Year']):
        if len(df_final.iloc[prev]['Plot']) >  len(df_final.iloc[i]['Plot']) :
            index_drop.append(i)
        else:
            index_drop.append(prev)
            prev = i
    else:
        prev = i

In [67]:
print(len(index_drop))
print(index_drop)

255
[368, 378, 380, 381, 386, 399, 398, 401, 407, 406, 416, 424, 455, 478, 491, 495, 504, 510, 592, 672, 715, 785, 839, 898, 969, 1101, 1395, 1463, 1539, 1543, 1878, 2059, 2115, 2127, 2314, 2604, 2850, 2996, 3274, 3280, 3321, 3328, 3342, 3370, 3486, 3692, 3756, 3910, 3919, 4056, 4151, 4157, 4232, 4280, 4441, 4452, 4737, 5019, 5062, 5142, 5149, 5330, 5385, 5713, 5910, 5911, 5923, 6155, 6273, 6292, 6473, 6877, 7022, 7199, 7390, 7603, 7969, 8197, 8333, 8390, 8411, 8718, 8734, 9036, 9262, 9329, 9383, 9409, 9597, 9751, 9859, 9990, 10002, 10453, 10461, 10704, 10747, 11017, 11155, 11274, 11278, 11361, 11528, 11592, 11625, 11667, 11744, 11790, 11801, 12153, 12326, 12713, 13023, 13256, 13404, 13463, 13487, 13604, 13788, 13986, 14059, 14132, 14260, 14369, 14725, 14799, 14871, 15101, 15164, 15207, 15217, 15265, 15383, 15438, 15462, 15912, 16035, 16092, 16147, 16550, 16779, 16892, 16899, 16949, 16961, 16985, 17053, 17133, 17530, 17599, 17828, 18009, 18034, 18301, 18321, 18617, 18688, 18782, 19042, 19291, 19300, 19404, 19518, 19680, 19746, 19816, 19917, 19919, 20075, 20150, 20439, 20454, 20505, 20981, 21311, 21696, 21861, 21899, 21910, 22313, 22366, 22408, 22431, 22459, 22486, 22609, 22757, 22881, 23049, 23171, 23639, 23690, 23842, 24448, 24729, 24781, 24832, 25111, 25209, 25360, 25489, 25704, 25742, 25769, 26058, 26078, 26463, 26542, 26687, 28125, 28514, 28609, 28723, 28913, 28927, 29264, 29390, 29659, 29996, 30020, 30173, 30454, 30689, 30884, 30987, 31120, 31814, 31940, 31993, 32080, 32115, 32277, 32587, 32749, 33002, 33074, 33110, 33304, 33636, 33644, 33715, 33881, 34140, 34185, 34186, 34223, 34378, 34468, 34581, 34984, 35105, 35199, 35201, 35279, 35651]

In [68]:
len(df_final)

35667

In [70]:
df_final.drop(df_final.index[index_drop], inplace=True)

In [71]:
len(df_final)

35412

In [72]:
# filtering the dataset using the by origin ( American and british)
df_final = df_final.loc[df_final['Origin/Ethnicity'].isin(['American','British']) ]

In [73]:
len(df_final)

20916

In [74]:
df_final.to_csv("Filtered_movies_plots.csv", encoding='utf-8', index=False)

In [75]:
#nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [79]:
print(df_final.columns)

Index(['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast',
       'Genre', 'Wiki Page', 'Plot'],
      dtype='object')

In [82]:
text = "I have been here for long time and i am not in a good mood."
analyzer = SentimentIntensityAnalyzer()
print(analyzer.polarity_scores(text))

{'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'compound': -0.3412}

In [90]:
# vader based sentiment for the plots 
columns = ['pos', 'neg', 'neu', 'compound']
sentiments = []
analyzer = SentimentIntensityAnalyzer()
for index in range(len(df_final.index)):
    rows = []
    plot_sentiments = {'pos':[], 'neg':[], 'neu':[], 'compound':[]}
    for sent in nltk.sent_tokenize(df_final.iloc[index]['Plot']):
        snt = analyzer.polarity_scores(sent)
        for keys in snt:
            plot_sentiments[keys].append(snt[keys])
    for col in columns:
        rows.append(sum(plot_sentiments[col])/len(plot_sentiments[col]))
    sentiments.append(rows)

In [89]:
print(sentiments[:5])

[[0.11426190476190477, 0.06521428571428571, 0.8205, 0.17051666666666665], [0.047718750000000004, 0.14946875, 0.8028125000000002, -0.2790187499999999], [0.1048, 0.0784, 0.8168, 0.06770000000000001], [0.06799999999999999, 0.11944117647058823, 0.8125, -0.16803235294117644], [0.05464705882352941, 0.10288235294117648, 0.842529411764706, -0.1626588235294118], [0.0, 0.0665, 0.9335, -0.1591], [0.019285714285714288, 0.2895714285714286, 0.6911428571428572, -0.657042857142857]]

In [91]:
# Most common adjectives from the plot summary.
adj_list= [word for plot in df_final['Plot'] 
           for sent in nltk.sent_tokenize(plot)
         for (word,tag) in nltk.pos_tag(nltk.word_tokenize(sent)) if tag.startswith('JJ')]

In [92]:
all_adj = nltk.FreqDist(adj_list)
adj_items = all_adj.most_common(1000)
adj_features = [adj for (adj,count) in adj_items]
adj_features[200]

'sick'

In [108]:
import re
def alpha_filter(w):
  # pattern to match a word of non-alphabetical characters
    pattern = re.compile('^[^a-z]+$')
    if (pattern.match(w)):
        return True
    else:
        return False

In [114]:
babyNames = pd.read_csv('Baby_Names.csv')

In [115]:
babyNames.head()

   Unnamed: 0     name sex  Total.Names
0           1  michael   M      3876829
1           2    david   M      2864232
2           3    james   M      2850094
3           4     john   M      2720483
4           5   robert   M      2564460

In [128]:
names = {}
for n in babyNames['name']:
    names[n] = 1

In [123]:
print( babyNames['name'][0])

michael

In [129]:
print(len(names))

4941

In [131]:
# Most common words from the plot summary.
words= [word.lower() for plot in df_final['Plot'] 
           for sent in nltk.sent_tokenize(plot)
         for word in nltk.word_tokenize(sent) if word.lower() not in names]

In [133]:
words = [word for word in words if word not in stopwords]

In [134]:
all_words = nltk.FreqDist(words)
all_word = all_words.most_common(1000)
word_features = [word for (word,count) in all_word]
word_features[200]

'orders'

In [135]:
# Most common verbs from the plot summary.
verb_list= [ word.lower() for plot in df_final['Plot'] 
            for sent in nltk.sent_tokenize(plot)
            for (word,tag) in nltk.pos_tag(nltk.word_tokenize(sent)) if tag.startswith('VB')]

In [136]:
verb_lists = [verb for verb in verb_list if verb not in stopwords]

In [137]:
all_verbs = nltk.FreqDist(verb_lists)
verb_item = all_verbs.most_common(1000)
verb_features = [word for (word,count) in verb_item]
verb_features[200]

'enters'

In [138]:
# Most common verbs from the plot summary.
adv_list= [ word.lower() for plot in df_final['Plot'] 
            for sent in nltk.sent_tokenize(plot)
            for (word,tag) in nltk.pos_tag(nltk.word_tokenize(sent)) if tag.startswith('RB')]

In [139]:
adv_lists = [adv for adv in adv_list if adv not in stopwords]

In [140]:
all_advs = nltk.FreqDist(adv_lists)
adv_item = all_advs.most_common(1000)
adv_features = [word for (word,count) in adv_item]
adv_features[200]

'properly'

In [142]:

X_colmun = ['pos', 'neg', 'neu', 'compound']
adj_cols = 400 
word_cols = 1000 
verb_cols = 400
adverb_cols = 400
# col_names = {'adj_cols_num': 400 , 'word_cols_num': 1000, 'verb_cols_num' : 400, 'adverb_cols_num' :400 }

In [143]:
cols = []
for i in range(adj_cols):
    cols.append(adj_features[i])
    
for i in range(word_cols):
    cols.append(word_features[i])

for i in range(verb_cols):
    cols.append(verb_features[i])

for i in range(adverb_cols):
    cols.append(adv_features[i])

In [155]:
# sentiments
X_test = []
for index in range(len(df_final.index)):
    row = []
    for i in range(len(sentiments[0])):
        row.append(sentiments[index][i])
    words = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent) ]
    for i in range(len(cols)):
        if cols[i].lower() in words:
            row.append(1)
        else:
            row.append(0)
    X_test.append(row)

In [156]:
print(len(X_test), len(X_test[0]))

20916 2204

In [174]:
Y_test = np.array(range(0,len(X_test)))

In [172]:
X_test =  np.array(X_test)

In [175]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=15)
classifier.fit(X_test, Y_test)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                     weights='uniform')

In [ ]:
from sklearn.cluster import KMeans
clusters=100
kmeans = KMeans(n_clusters=clusters, random_state=0)
kmeans.fit(X_test)

In [ ]:
print(kmeans.labels_)

In [ ]:
cluster = {new_list: [] for new_list in range(clusters)}
for i in range(len(kmeans.labels_)):
    cluster[kmeans.labels_[i]].append(df_final.iloc[i]['Title'])

In [ ]:
for key in cluster:
    print(key ," : len ", len(cluster[key]))

In [ ]:
cluster_genre = {i : {} for i in range(clusters)}
print(cluster_genre)

In [ ]:
cluster_genre = {i : {} for i in range(clusters)}
all_genre = {}
for i in range(len(kmeans.labels_)):
    for g in re.split('\s+|; |, |\*|\n|/', df_final.iloc[i]['Genre']):
        all_genre[g] = 1
        if g in cluster_genre[kmeans.labels_[i]]:
            cluster_genre[kmeans.labels_[i]][g] +=1
        else:
            cluster_genre[kmeans.labels_[i]][g] = 1

In [ ]:
for i in cluster_genre:
    for g in cluster_genre[i]:
        cluster_genre[i][g] /= (len(cluster[i]))

In [ ]:
cluster_big= {i : {} for i in range(clusters)}
for i in cluster_genre:
    for g in cluster_genre[i]:
        if cluster_genre[i][g] >=0.1:
            cluster_big[i][g] = cluster_genre[i][g]

In [ ]:
print(cluster_genre)

In [ ]:
# Printing the json object to see how the data is organized 
json_formatted_str = json.dumps(cluster_big, indent=2)
print(json_formatted_str)

In [ ]:
# creates a pandas dataframe for the result
result =  pd.DataFrame(columns=['cluster', 'Title', 'Year', 'Genre'])

writer.writerow(fields)
for i in range(len(kmeans.labels_)):
    rows = []
    rows.append(kmeans.labels_[i])
    rows.append(df_final.iloc[i]['Title'])
    rows.append(df_final.iloc[i]['Release Year'])
    rows.append(df_final.iloc[i]['Genre'])
    writer.writerow(rows)

In [ ]:
# creates csv with fields: title, author, country, num of pos sent, num of neg sents, num of neu sents

filename ='cluter_results_'
filename = filename + str(clusters) + '.csv'
fields = ['cluster', 'Title', 'Year', 'Genre']
counts = ['pos', 'neg', 'neu']

with open(filename, mode='w',  encoding="utf-8") as posts_file:
    writer = csv.writer(posts_file,lineterminator='\n')
    writer.writerow(fields)
    for i in range(len(kmeans.labels_)):
        rows = []
        rows.append(kmeans.labels_[i])
        rows.append(df_final.iloc[i]['Title'])
        rows.append(df_final.iloc[i]['Release Year'])
        rows.append(df_final.iloc[i]['Genre'])
        writer.writerow(rows)

In [ ]:
df_print = df_final[['Release Year', 'Title', 'Origin/Ethnicity','Genre', 'Plot']]

In [ ]:
df_print.head()